{
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-astro"],
  "tailwindStylesheet": "./packages/ui/src/styles/globals.css",
  "tailwindFunctions": ["clsx", "twMerge", "cn", "cva", "cx"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
