---
const props = Astro.props;

const activeRehypePrettyCode: boolean = Object.hasOwn(
  props,
  "data-rehype-pretty-code-title",
);

// console.log(props);
---

{
  activeRehypePrettyCode ? (
    <div {...props} class="pb-2 pt-1 px-4">
      <slot />
    </div>
  ) : (
    <div {...props}>
      <slot />
    </div>
  )
}
