---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";

const { title, description } = Astro.props.frontmatter || Astro.props;
---

<html lang="ja">
  <head>
    <script is:inline>
      // FOUC / Theme Flash
      (function () {
        const root = document.documentElement;
        const theme = localStorage.getItem("theme");
        root.classList.toggle("dark", theme !== "light");
      })();
    </script>
    <BaseHead title={title} description={description} />
  </head>
  <body class="font-sans">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
